fastapi
uvicorn[standard]
sqlalchemy
pydantic
jinja2


# Machine Learning Core
scikit-learn    # For RandomForest models
pandas          # For data manipulation
numpy           # Numerical operations (usually installed with scikit-learn)
joblib          # For saving/loading trained models

python-multipart
